/* generics */

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    background-color: #eee;
    max-width: 1000px;
    height: 1000px;
    margin: 0 auto;
}

/* utilities */

.red-number{
    color:red
    
}

.b-text{
    font-weight: bold;
    font-size: 16px;

}

.sostenibilità{
    color:white;
    background-color:#00875A;
    font-weight: bold;
    font-size: 12px;
    padding:2px;
    position:absolute;
    bottom:3%;
    left:12%

}

.another-sostenibilità{
    color:white;
    background-color:#00875A;
    font-weight: bold;
    font-size: 12px;
    padding:2px;
    position:absolute;
    bottom:3%;

}

.big-discount{
    color: white;
    background-color:#EB0037;
    font-weight: bold;
    font-size: 12px;
    padding:2px;
    position:absolute;
    bottom:3%;
    text-align: left;
}
    

.small-discount{
    color: white;
    background-color:#EB0037;
    font-weight: bold;
    font-size: 12px;
    padding:2px;
    position:absolute;
    bottom:3%;
}

    
.like{
    background-color: white;
    color: black;
    position: relative;

}



/* main content */

.model{
    display: inline-block;
}

.card{
    height: 400px;
    width: 300px;
    margin: 0 auto;
    background-size: cover;
    background-color: #aaa;
    background-position: center;
    position:relative;
    
}


.levis{
    background-image: url(../img/1.webp);
}

.guess{
    background-image: url(../img/2.webp);
}
.sugar{
    background-image: url(../img/3.webp);
}
.another-levis{
    background-image: url(../img/4.webp);
}
.maya{
    background-image: url(../img/5.webp);
}
.esprit{
    background-image: url(../img/6.webp);
}

/* PSEUDO */
.card:hover::after{
    font-size: 3em;
    background-color: white;
    color:red;
    position: absolute;


}
